body {
  background-color: #FDFFFC;
  color: #011627;
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #011627;
  color: #ffffff;
}

.App-header h1 {
  padding: 20px;
  margin: 0;
}

div.navigation {
  align-self: end;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.row {
    margin: 20px;
}
