body {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App {
  text-align: center;
  width: 80%;
  left: 10%;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.App-header h1 {
  padding: 20px;
  margin: 0px;
}

div.navigation {
  align-self: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.row {
    margin: 20px;
}
